name: CI - Run Tests

# When is this excecute?
on:
  push:
    branches: [ "dev", "main" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    # 1. Download code
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Install Node.js
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'
        cache: 'npm'

    # 3. Install dependencies
    - name: Install Dependencies
      run: npm install

    # 4. Run Tests
    - name: Run Tests
      run: npm test